@import './global.css';

h1 {
  color: black;
}

.avatar {
  width: 100px;
  height: 100px;
  background-image: url('./avatar.jpeg');
  background-size: cover;
}

.avatar2 {
  width: 100px;
  height: 100px;
  background-image: url('./m.png');
  background-size: cover;
}
